

<html>



	<body>
		<ul id="nav">
			<li>HOME</li>
			<li>SLEEP CENTER</li>
			<li>MRI</li>
			<li>CONTACT</li>
			<li>ABOUT US</li>
			<li>SCHEDULE AN APPOINTMENT</li>
			<li>REVIEWS</li>
		</ul>

	<div id="intro-div">
		<h1>FIVE TOWNS NUEROSCIENCE RESEARCH</h1>
	</div>


	<ul class="details-list">
		<h1>WHY US?</h1>
			<li>1</li>
			<li>2</li>
			<li>3</li>
	</ul>

	<ul class="details-list">
		<h1>WHY US?</h1>
			<li>1</li>
			<li>2</li>
			<li>3</li>
	</ul>


	<ul class="details-list">
		<h1>WHY US?</h1>
			<li>1</li>
			<li>2</li>
			<li>3</li>
	</ul>




	</body>


</html>