ul {
	padding: 0px;
}

#nav {
	background-color: black;
	text-align: center;
	height: 100px;
	margin-bottom: 0px;
}

#nav li {
	color: white;
	display: inline-block;
	padding: 0px 20px 0px 20px;
	margin-top: 40px;
	font-family: 'Arimo';
	border:1px solid white;
}

#intro-div h1 {
	text-align: center;
	font-family: 'Arimo';
	/*padding-top: 60px;*/
	font-size: 55px;
	margin: 0px;
	margin-top: 60px;

}

#intro-div {
	/*margin-top: 00px;*/
	background-image: url('brain-copy1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 700px;
	/*background-size: cover;*/
	height: 700px;
}

.details-list {
	/*display: inline-block;*/
	padding:10px 0px 100px 0px;

	margin: 0 auto;
	text-align: center;
	/*background-color: black;*/
	width: 20%;
	height: 160px;
	background-color: black;
	font-family: 'Arimo';
	border-radius: 40px;



}

.details-list:nth-child(3){
	margin-bottom: 50px;
}
.details-list:nth-child(4){
	margin-bottom: 50px;
}

.details-list h1 {
	color: white;
}

.details-list li {
	/*background-color: black;*/
	color: white;

}