<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>  <title>Five Towns Neurology </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="footer">
	<p>FIVE TOWNS NEUROLOGY ©</p>
	<p>222 Rockaway Turnpike, Suite 1</p>
	<p>Cedarhurst, New York 11516</p>
	<p>Phone: 516 239 1800</p>
	<p>Fax: 516 239 5553</p>
</div>

</body>
</html>
